### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.log
*.pot
*.pyc
*.pyo
*~
**~lock**
*.py~*
*.html~*
*.css~*
*.js~*
**/__pycache__

**__init__.py


### Django Migrations ###
**/migrations/**
!**/migrations
!**/migrations/__init__.py

### Django Settings ###
pap/pap/settings.py

### DS Store ###
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store



/.idea
/bin
/obj
/include
/lib
/lib64
/share

/lule/.idea

### Virtual ###
**/learnvenv/**



